<section class="about-content">

  <div class="intro-content">
    <div class="intro-text">
      <h1>About Me</h1>
      <p>
        My name is Mario Pascual González, I was born in Madrid, Spain, the first of December 2002. 
        When I was a child, I loved Legos, robots, and science fiction, so my parents took that as an early sign of my interest in technology, 
        and tried to bring me as many opportunities to explore my curiosity as they could. In secondary school, I struggled with mathematics and physics,
        but I was lucky to have great teachers who made me love those subjects, and I started to see the world differently. 
      </p>
      <p>
        I studied a B.Sc. in Bioinformatics, in order to understand the basis that connects biology, medicine, and computer science. While enrolled in that degree,
        I had the opportunity to collaborate with the Computational Intelligence and Image Analysis Group (ICAI) at the University of Málaga. This is where I started
        to explore the field of artificial intelligence, and I was fascinated by the potential of machine learning to solve complex imaging problems in medicine. 
        I obtained an internship to do my research in the Biomedical Research Institute of Málaga (IBIMA), where I worked on the development of deep learning models 
        for the detection of angiography images. During this stay, I also collaborated with the Radiology Department of the Hospital Regional Universitario de Málaga,
        where I learned the importance of interdisciplinary collaboration between clinicians and researchers to develop effective solutions for medical problems. 
      </p>
    </div>
    <div class="intro-image">
      <figure>
        <img src="/assets/images/about_me/mpg.png" alt="Portrait of Mario Pascual González">
        <figcaption><p>Me, featuring myself</p></figcaption>
      </figure>
    </div>
  </div>

  <div class="sub-text">
    <div class="sub-text-image">
      <figure>
        <img src="/assets/images/about_me/judo.jpg" alt="Practicing judo">
        <figcaption><p>Me, practicing judo</p></figcaption>
      </figure>
    </div>
    <div class="sub-text-body">
      <p>
        My plans for the future include pursuing a Ph.D. in artificial intelligence, with a focus on medical imaging. I also would like to continue my degree studies 
        with a B.Sc. in Mathematics, in order to strengthen my theoretical background in the field, and pursue a PhD in this area, too.
      </p>
      <p>
        In my free time, I enjoy gaming, practicing judo, reading fiction novels, and learning about new technologies. 
        I also try to contribute to open-source projects, which has helped me refine clean coding practices and reproducible research workflows, something I aim to carry into future collaborations.
        I have small contributions to <a href="https://github.com/GeoStat-Framework/GSTools/issues/377">GSTools</a> and the Ultralytics package. 
      </p>
    </div>
  </div>

</section>