---
layout: default
title: Blog
---

{% if paginator.posts %}
<div class="blog-list">
  {% for post in paginator.posts %}
  <article class="blog-entry">
    {% if post.image %}
    <img src="{{ post.image }}" alt="" class="blog-entry-image" />
    {% endif %}
    <div class="blog-entry-text">
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      <p class="blog-entry-date"><em>{{ post.date | date: site.date_format }}</em></p>
    </div>
  </article>
  {% endfor %}
</div>

{% include pagination.html %}
{% else %}
<p>No posts yet.</p>
{% endif %}

