---
layout: default
---
<article class="post">
  <header>
    <h1>{{ page.title }}</h1>
    <p class="post-date"><em>{{ page.date | date: site.date_format }}</em></p>
    {% if page.image %}
    <img src="{{ page.image }}" alt="" class="post-image">
    {% endif %}
  </header>
  <div class="post-content">
    {{ content }}
  </div>
  <hr>
  <footer class="post-footer">
    <div class="author-info">
      <p><strong>About the Author</strong></p>
      <p>Mario Pascual González is a passionate software developer and researcher. You can find more of his work on <a href="https://github.com/MarioPasc">GitHub</a>.</p>
    </div>
    <div class="contact-info">
      <p>Have questions or feedback? Feel free to reach out at <a href="mailto:mpascualg02@gmail.com">mpascualg02@gmail.com</a>.</p>
    </div>
  </footer>
</article>
