---
layout: default
---
<article class="post">
  <header>
    <h1>{{ page.title }}</h1>
    <p class="post-date"><em>{{ page.date | date: site.date_format }}</em></p>
    {% if page.image %}
    <img src="{{ page.image }}" alt="" class="post-image">
    {% endif %}
  </header>
  <div class="post-content">
    {{ content }}
  </div>
  <hr>
  <p>Mario Pascual González</p>
  <p>Thanks for reading, and please leave some feedback if you have the time.</p>
  <p>Also, you can follow me on Github (<a href="https://github.com/MarioPasc">https://github.com/MarioPasc</a>)</p>
  <hr>
  <p class="comment-note">Do you have any comments? Email me your thoughts at <a href="mailto:mpascualg02@gmail.com">mpascualg02@gmail.com</a>!</p>
</article>
