<section class="home-content">
  <h1>Welcome</h1>
  <p>I'm Mario, a Bioinformatics student at the University of Málaga with a passion for technology and discovery. Right now, my main research interest lies in the application of Computer Vision to solve biomedical problems.</p>
  <p>This website is a space to share my journey, from my current research in medical imaging to personal projects and blog posts on topics that I find interesting. </p>
  <p>Feel free to look around, and I hope you find something that sparks your curiosity.</p>
</section>

<figure>
  <img src="/assets/images/welcome/welcomeimage.png" alt="Welcome image">
</figure>
