// Base reset and typography
@import 'variables';
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-accent; // Blue color for links
  
  &:hover {
    text-decoration: underline;
    opacity: 0.8; // Slightly faded on hover
  }
}

// Exclude navigation and footer links from general link styling
.nav-links a,
.social-links a {
  color: inherit; // Use the color defined in their specific components
  
  &:hover {
    text-decoration: none; // Remove underline
    opacity: 1; // Remove opacity change
  }
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
